.Hd{
    background-color: #c2491954;
color: rgb(223, 18, 161);
border: 2px solid rgb(48, 48, 12);
    height: auto100px;
    width: fit-content;
}
.colour{
    background-color: rgb(238, 255, 205);
}

.menu{
    display: flex;
    list-style-type: none;
    justify-content: end;
}
.menu li{
    margin-left: 10px;
    border: 2px solid black;
    background-color: rgba(255, 166, 0, 0.377);
}
.navigation{
display: flex;
width: 100vh;
height: 3vh;
justify-content: space-between;
margin: 10px;
margin-left: 30px;
margin-right: 30px;
}
.btn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    color:rgb(255, 0, 0) ;
}
h2{
    color: rgb(255, 0, 170);   
}
p{
    color: rgb(207, 128, 38);
}
.box{
   height: 100px; 
   width: 100px;
   background-color: cadetblue;
   border: 1px solid blue;
}

.main{
    display: flex;
}

p{
font-style: oblique;
}
.span{
    color: rgb(204, 35, 35);
}